
    body{
            width: 50%;
            height: 50%;
            align-content: center;
            margin-left: 20%;
        }
    input{
            width: 300px;
            height: 30px;
            margin: 10px;
        }
    .head{
            padding: 10px;
            color: aliceblue;
            background-color:rgba(142, 23, 49, 0.923);
            }
    #myform{
            align-items: center;
            margin-left: 10px;
            }
    .data{
            padding: 50px;
            background-color: burlywood;
            align-content: center;
        }
    #message{
        margin-left: 50px;
        width: 300px;
        height: 100px;
   }
    #sub{
        width: 100px;
        height:35px;
        border-radius: 5px;
        margin: 20px;
        margin-left: 90px;
        color:aliceblue;
        background-color:blue;
    }
         /* Output */
    #output{
        margin-top: 10px;
        padding: 20px;
        align-content: center;
        color: black;
        font-size: large;
       background-color: rgba(63, 85, 105, 0.866);
    }
